<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Exercise 1

# Data Science Tools and Ecosystem

#### Exercise 2

### In this notebook, data science tools and general Ecosystem are summarized.

**Objectives:**
- List popular languages for Data science.
- List Commonly used libriaries for Data science.
- Create a table of Data Science Tools.
- Evaluate arithmetic expressions in Python.
- Convert minutes to hours using Python.

#### Exercise 3

### The most popular languages Data Scientists globally use include;

1. Python
2. R
3. SQL
4. Julia
5. Scala

#### Exercise 4

### The common libraries Data Scientists use include but are not limited to;

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

#### Exercise 5

|Data Science Tools|
|---------|
| Juypter Notebook |
| RStudio |
| Apache Zeppelin|

#### Exercise 6

### Below are a few examples of evaluating arithmetic expressions in Python.

#### Exercise 7

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4) + 5

17

#### Exercise 8

In [2]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

#### Exercise 9

### Answer indicated in markdown cell after exercise 2

#### Exercise 10

## Author
Viola Kulabako